:root {
  --purple: #7661b1;
  --horizontal-space: 25px;
  --main-border: 1px solid rgba(0, 0, 0, 0.2);
  --pink: #c777a3;
  --shadow: 0px 10px 25px rgba(0, 0, 0, 0.085);;
  --background:  #F2F2F5;
}
